# ACTUATOR INFO
info:
  app:
    name: ${spring.application.name}
    version: "0.0.1"
    profile: ${spring.profiles.active}
  serverInfo:
    port: ${server.port}
management:
  endpoints:
    web:
      exposure:
        include: '*'
  info:
    env:
      enabled: true

application:
  allow-get-accounts: ${accounts.allow-get-accounts}

eureka:
  client: ${eureka-client}

server:
  port: 9999